/signalement_route/
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/route_app_mobile/.idea
/route_app_mobile/.ionic
/route_app_mobile/.sass-cache
/route_app_mobile/.sourcemaps
/route_app_mobile/.versions
/route_app_mobile/.vscode/*
!/route_app_mobile/.vscode/extensions.json
/route_app_mobile/coverage
/route_app_mobile/dist
/route_app_mobile/node_modules
/route_app_mobile/platforms
/route_app_mobile/plugins
/route_app_mobile/www
/route_app_mobile/.env
