.layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    overflow-y: auto;
    background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 200px;
    }
}
